.new-tweet {
  background-color: 	#eee;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-left: 2em;
  margin-right: 2em;
  padding: 10px;
}


h2 {
  border-bottom: 1px solid black;
  margin: 0 0 0.75em;
}

textarea {
  padding: 5px;
  width: 100%;
}

.counter {
  float: right;
  padding-right: 10px
}

.error {
  color: red;
}
