.new-tweet {
  background-color: 	#DCDCDC;
  border-radius: 2.5px;
  border-color: ;
  margin-left: 2em;
  margin-right: 2em;

}


h2 {
  border-bottom: 1px solid black;
  border-bottom-width: ;
  margin-left: 10px;
  margin-right: 10px;
}

form {
  padding-left: 10px;
}

textarea {
  width: 368px;
}

.counter {
  float: right;
  padding-right: 10px
}

input {
  margin-bottom: 7.5px;
}
